
/*styling the table*/

.demo {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
}
.demo th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;

}
.demo td {
    border:1px solid #C0C0C0;
    padding:5px;
}

/* background layout */

body {
    background-color: #F0F0F0;
}



/*playing with buttons*/

a {
    text-decoration: none;
}

.button {
    background-color: #4169E1; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}